<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.edu.mapper.PopulationMapper">
	<resultMap type="com.edu.domain.Population" id="PopulationResult">
		<id property="id" column="id"/>
		<result property="city" column="city" />
		<result property="municipalities" column="municipalities"/>
		<result property="totalPopulation" column="totalPopulation"/>
		<result property="totalPopulation0_14" column="totalPopulation0_14"/>
		<result property="totalPopulation15_64" column="totalPopulation15_64"/>
		<result property="totalPopulation65AndOver" column="totalPopulation65AndOver"/>
		<result property="foreignersTotal" column="foreignersTotal"/>
		<result property="denselyInhabitedDistrictsPopulation" column="denselyInhabitedDistrictsPopulation"/>
		<result property="liveBirths" column="liveBirths"/>
		<result property="death" column="death"/>
		<result property="numberOfIn_migrantsFromOtherMunicipalities" column="numberOfIn_migrantsFromOtherMunicipalities"/>
		<result property="numberOfOut_migrantsFromOtherMunicipalities" column="numberOfOut_migrantsFromOtherMunicipalities"/>
		<result property="dayTimePopulation" column="dayTimePopulation"/>
		<result property="numberOfHouseholds_Total" column="numberOfHouseholds_Total"/>
		<result property="numberOfPrivateHouseholds" column="numberOfPrivateHouseholds"/>
		<result property="nuclearFamilies" column="nuclearFamilies"/>
		<result property="one_personHouseholds" column="one_personHouseholds"/>
		<result property="numberOfNuclearFamiliesWithHouseholdMembers65AndOver" column="numberOfNuclearFamiliesWithHouseholdMembers65AndOver"/>
		<result property="numberOfAged_coupleHouseholdsOnlyAgedCouple" column="numberOfAged_coupleHouseholdsOnlyAgedCouple"/>
		<result property="numberOfAged_single_personHouseholdsAged65AndOver" column="numberOfAged_single_personHouseholdsAged65AndOver"/>
		<result property="marriages" column="marriages"/>
		<result property="divorces" column="divorces"/>
	</resultMap>
	

</mapper>